In [ ]:
#import pandas
import pandas as pd

In [ ]:
#read the csv, parse dates, use rental_id as the index column, and display first 5 rows

In [ ]:
#change the column name film_title to title, film_replacement_cost to replacement_cost, film_rental_rate to rental_rate,
# film_rating to rating
#the change should be applied to the original data for good

In [ ]:
# Check its shape

In [ ]:
# Check if there any missing values in any columns

In [ ]:
# drop rows with missing values then check the shape again

In [ ]:
# Verify no more missing values

In [ ]:
# Get all movies by title

In [ ]:
# Notice that all movie names are in upper case, let's change them into a better format.
# For example, let's keep each initial letter in upper case and make the rest letters in lower case.
# See the example below:

In [ ]:
# find the user who rented the most

In [ ]:
# find all the movies rented by Olivares and Castillo

In [ ]:
# common rented movies by OLIVARES (store_id = 2) and HUNT (store_id = 2)

In [ ]:
# movies rented by Castillo (store_id = 1) sorted by their replacement cost

In [ ]:
# find the people who rented a movie from the same store multiple times

In [ ]:
# use Alvarez's data above to validate that he indeed rented the movie twice: